:root {
    --text-color: rgba(255, 255, 255, 0.87);
    --text-medium-color: rgba(255, 255, 255, 0.6);
    --background-color: #121212;
    --background-e1: rgba(255, 255, 255, 0.07);
}

html, body, #app { height: 100%; margin: 0; padding: 0; }

body {
    background-color: var(--background-color);
    overscroll-behavior-y: contain;
    user-select: none;
}

.game {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.touch {
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: var(--text-color);
}

.countdown {
    font-size: 5rem;
    color: var(--text-color);
    z-index: 100;
    pointer-events: none;
}

.reset-btn {
    width: 5rem;
    height: 5rem;
    border-radius: 2.5rem;
    color: #000;
    border: none;
    z-index: 100;
}

.reset-btn:active {
    opacity: 0.7;
}

.help {
    color: var(--text-color);
    pointer-events: none;
}
